{% extends "PrestaShopBundle:Admin:layout.html.twig" %}

{% block content %}
<head>
<title>EditArea Test</title>
<script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
</head>
<body>
	<p>{{ title }}</p>
	<form method="post" action="{{ path('addRoutev5') }}">
		<input type="submit" value="Add new block">
	</form> <br>

	<form method="post" action="{{ path('uploadRoutev5') }}">
		<select id="block" name="block">
			{% for table in records %}
			<option value="{{ table.id }}">{{ table.content }}</option>
			{% endfor %}
		</select>
		<textarea cols="80" rows="10" id="content" name="content"> 
		</textarea>
		<script type="text/javascript">
			CKEDITOR.replace( 'content' );
		</script>
		<input type="submit" value="{{ submit }}">
	</form>

	<p>{{ title2 }}</p>
	<form method="post" action="{{ path('editRoutev5') }}">
		<select id="block" name="block">
			{% for table in records %}
			<option value="{{ table.id }}">{{ table.content }}</option>
			{% endfor %}
		</select>
		<input type="submit" name="disableButton" value="{{ toggle }}">
		<input type="submit" name="deleteButton" value="{{ delete }}">
	</form>
	<p>{{ title3 }}</p>
	<form method="post" action="{{ path('indexRoutev5') }}">
		<select id="block" name="block">
			{% for table in records %}
			<option value="{{ table.id }}">{{ table.content }}</option>
			{% endfor %}
		</select>
		<input type="number" name="number" required>
		<input type="submit" value="{{ submit }}">
	</form>
	<p>{{ title4 }}</p>
	<form method="post" action="{{ path('hookRoute') }}">
		<select id="hook" name="hook">
			{% for table in hooks %}
			<option value="{{ table.id_hook }}">{{ table.name }}</option>
			{% endfor %}
		</select>
		<select id="block" name="block">
			{% for table in records %}
			<option value="{{ table.id }}">{{ table.content }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="{{ submit }}">
	</form>
</body>
{% endblock %}